# Wallet address to mine to. Subaddresses and integrated addresses are not supported!
# You should probably create a wallet for this. This address is exposed to p2pool peers (although later pruned)
# !!!!!!! You MUST CHANGE THIS!! !!!!!!! CHANGED
P2POOL_WALLET_ADDRESS=47Eqp7fsvVnPPSU4rsXrKJhyAme6LhDRZDzFky9xWsWUS9pd6FPjJCMDCNX1NnNiDzTwfbAgGMk2N6A1aucNcrkhLffta1p

# Comma-separated list of IP:port of other p2pool nodes to connect to initially. Afterwards p2pool will find more.
# This is a fallback, peers get read from disk after a restart, and now also from DNS A records at seeds.p2pool.io
P2POOL_SEED_PEERS=seed.p2pool.observer:37889
# Verbosity of the log, integer number between 0 and 5
P2POOL_LOG_LEVEL=3
# port for stratum server to listen on
P2POOL_STRATUM_PORT=3333
# port for p2p server to listen on
P2POOL_P2P_PORT=37889

# Relevant if you are behind a NAT and still want to accept incoming connections.
# Change if you have other external port, internal will still be 18080
MONERO_EXTERNAL_P2P_PORT=18080

# Change this if you have a different mount point
HUGEPAGES_MOUNT=/dev/hugepages
